USE [master]
GO
/****** Object:  Database [AppUpdate]    Script Date: 2018/6/16 15:30:30 ******/
CREATE DATABASE [AppUpdate] ON  PRIMARY 
( NAME = N'AppUpdate', FILENAME = N'D:\MSSqlServer\OrderSales\AppUpdate.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AppUpdate_log', FILENAME = N'D:\MSSqlServer\OrderSales\AppUpdate_log.ldf' , SIZE = 768KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AppUpdate].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AppUpdate]
GO
/****** Object:  Table [dbo].[mobile_token]    Script Date: 2018/6/16 15:30:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mobile_token](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NULL,
	[password] [varchar](100) NULL,
	[tokenid] [varchar](100) NULL,
	[islock] [int] NOT NULL,
	[isbomb] [int] NOT NULL,
	[updatetime] [datetime] NULL,
	[device] [varchar](100) NULL,
	[validtime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mobile_version]    Script Date: 2018/6/16 15:30:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mobile_version](
	[appKey] [varchar](50) NOT NULL,
	[appName] [varchar](50) NULL,
	[version] [varchar](20) NULL,
	[state] [varchar](50) NULL,
	[applicationType] [varchar](100) NULL,
	[updatePackagePath] [varchar](200) NULL,
	[updateLog] [varchar](500) NULL,
	[appUrl] [varchar](2000) NULL,
	[targetSize] [varchar](50) NULL,
	[constraints] [varchar](20) NULL,
	[updateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[appKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_info]    Script Date: 2018/6/16 15:30:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_info](
	[info_id] [int] IDENTITY(1,1) NOT NULL,
	[info1] [varchar](100) NULL,
	[info2] [varchar](100) NULL,
	[info3] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[info_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_menu]    Script Date: 2018/6/16 15:30:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_menu](
	[menu_id] [int] IDENTITY(1,1) NOT NULL,
	[menu_name] [varchar](20) NULL,
	[menu_url] [varchar](100) NULL,
	[parent_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[menu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_role]    Script Date: 2018/6/16 15:30:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](20) NULL,
	[rights] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_user]    Script Date: 2018/6/16 15:30:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[loginname] [varchar](20) NULL,
	[password] [varchar](20) NULL,
	[username] [varchar](20) NULL,
	[rights] [varchar](100) NULL,
	[status] [tinyint] NULL,
	[role_id] [int] NULL,
	[last_login] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

INSERT [dbo].[mobile_version] ([appKey], [appName], [version], [state], [applicationType], [updatePackagePath], [updateLog], [appUrl], [targetSize], [constraints], [updateTime]) VALUES (N'ab55ce55Ac4bcP408cPb8c1Aaeac179c5f6f', N'智慧零售展示', N'0.0.1', N'true', N'正式', N'', N'1.测试', N' ', N'0M', N'false', CAST(N'2018-06-16T15:20:04.323' AS DateTime))

SET IDENTITY_INSERT [dbo].[tb_menu] ON
INSERT [dbo].[tb_menu] ([menu_id], [menu_name], [menu_url], [parent_id]) VALUES (1, N'系统管理', N' ', NULL)
INSERT [dbo].[tb_menu] ([menu_id], [menu_name], [menu_url], [parent_id]) VALUES (2, N'版本管理', N' ', NULL)
INSERT [dbo].[tb_menu] ([menu_id], [menu_name], [menu_url], [parent_id]) VALUES (3, N'用户管理', N'user', 1)
SET IDENTITY_INSERT [dbo].[tb_menu] OFF

SET IDENTITY_INSERT [dbo].[tb_role] ON
INSERT [dbo].[tb_role] ([role_id], [role_name], [rights]) VALUES (1, N'系统管理员', N'120555502')
INSERT [dbo].[tb_role] ([role_id], [role_name], [rights]) VALUES (2, N'普通用户', N'2038792')
INSERT [dbo].[tb_role] ([role_id], [role_name], [rights]) VALUES (3, N'系统用户', N'230374')
SET IDENTITY_INSERT [dbo].[tb_role] OFF

SET IDENTITY_INSERT [dbo].[tb_user] ON
INSERT [dbo].[tb_user] ([user_id], [loginname], [password], [username], [rights], [status], [role_id], [last_login]) VALUES (1, N'admin', N'123456', N'管理员', N'1059686382', 0, 1, CAST(N'2018-06-16T15:18:29.047' AS DateTime))
SET IDENTITY_INSERT [dbo].[tb_user] OFF

SET ANSI_PADDING ON
GO
/****** Object:  Index [username_uniu]    Script Date: 2018/6/16 15:30:31 ******/
ALTER TABLE [dbo].[tb_user] ADD  CONSTRAINT [username_uniu] UNIQUE NONCLUSTERED 
(
	[loginname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[mobile_token] ADD  DEFAULT ((0)) FOR [islock]
GO
ALTER TABLE [dbo].[mobile_token] ADD  DEFAULT ((0)) FOR [isbomb]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'mobile_token', @level2type=N'COLUMN',@level2name=N'username'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'密码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'mobile_token', @level2type=N'COLUMN',@level2name=N'password'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否锁定,1为锁定,默认为0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'mobile_token', @level2type=N'COLUMN',@level2name=N'islock'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否推送炸弹消息,1为炸弹,默认为0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'mobile_token', @level2type=N'COLUMN',@level2name=N'isbomb'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编辑时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'mobile_token', @level2type=N'COLUMN',@level2name=N'updatetime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'设备id值' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'mobile_token', @level2type=N'COLUMN',@level2name=N'device'
GO
USE [master]
GO
