<!DOCTYPE html>
<html lang="en">
<head>
  <title>货品尺码管理</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport">
  <link rel="stylesheet" href="../../css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/font-awesome.min.css">
  <link rel="stylesheet"
        href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
  <link rel="stylesheet"
        href="../../plugins/ztree/css/metroStyle/metroStyle.css">
  <link rel="stylesheet" href="../../css/main.css">
  <script src="../../libs/jquery.min.js"></script>
  <script src="../../libs/jquery.form.js"></script>
  <script src="../../plugins/layer/layer.js"></script>
  <script src="../../libs/bootstrap.min.js"></script>
  <script src="../../libs/vue.min.js"></script>
  <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
  <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
  <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
  <script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>

  <div v-show="showList">
    <div class="grid-btn">
      <a class="btn btn-primary" style="margin-left: 10px;" @click="add">
        <i class="fa fa-plus"></i>&nbsp;新增
      </a>
      <form method="POST" enctype="multipart/form-data" id="form1" style="display:none">
        <input id="excelFile" type="file" name="excelFile" onchange="upload()">
      </form>
      <a class="btn btn-primary" style="margin-left: 10px;" onclick="$('input[id=excelFile]').click(); ">
        <i class="fa fa-plus"></i>&nbsp;导入
      </a>
      <a href="../../media/size.xlsx" style="margin-left: 10px;" download="尺码导入模板">
        查看导入模板
      </a>
      <a class="btn btn-primary" style="margin-left: 10px;" v-if="hasPermission('platform:sync:erp')"
         @click="syncFromErp">
        <i class="fa fa-plus"></i>&nbsp;ERP同步
      </a>
    </div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
  </div>

  <div v-show="!showList" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-2 control-label">尺码编码</div>
        <div class="col-sm-10">
          <input type="text" class="form-control" v-model="goodsSize.sizeCode"
                 placeholder="尺码编码"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 control-label">尺码名称</div>
        <div class="col-sm-10">
          <input type="text" class="form-control" v-model="goodsSize.sizeName"
                 placeholder="尺码名称"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-1 control-label"></div>
        <div class="col-sm-2 control-label">
          <input type="button" class="btn btn-primary" @click="saveOrUpdate"
                 value="确定"/>
        </div>
        <div class="col-sm-2 control-label">
          <input type="button" class="btn btn-warning" @click="reload"
                 value="返回"/>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="../../js/modules/system/good_size.js"></script>
</body>
</html>